*
!*.py
!.gitignore
!*.pyd
!*.cpp
!*.c
!*.h
!*.ipynb
!*.md
!CMakeLists.txt
!conda-environment.yml
!requirements.txt
!*.yml
!*.in
!*.toml
!*.bat
# 不忽略子目录
!*/
/build
/InpExchange.egg-info
/.trae

